/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: inline-block;
  /* margin: 0 auto; */
  height: 250px;
  padding: 5px;
}

#playerOneCard{
  display: none;
}

#playerTwoCard{
  display: none;
}
.extraCards{
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
